<!DOCTYPE html>
{% extends 'main.html' %}

<!-- load static -->
{% load static %}

<!-- all body data -->
{% block bodyblock %}
<br /><br /><br />

		<div>
			<h3>Forget Password?</h3>
			<p>Reset password by entering the email address</p>
		</div>

		<form action="{% url 'reset_password' %}" method="POST">
			{% csrf_token %}
			<!-- Input:Email -->
			<div>
				<label for="formInput#email">Email Address: </label>
				<input id="formInput#email" type="email" name="email" placeholder="e.g. user@domain.com" />
			</div>

			<br>
			<div>
				<input type="submit" value="Reset Password" />
				
				<br><br>
				<a href="{% url 'login' %}">Login</a>
			</div>
		</form>

		<br><br>
		<div>
			<br><br>
			<p>Don’t have an Account?</p>
			<a href="{% url 'register' %}">Sign Up</a>
		</div>

{% endblock %}
