<!DOCTYPE html>
{% extends 'main.html' %}

<!-- load static -->
{% load static %}

<!-- all body data -->
{% block bodyblock %}
<br /><br />
    <div style="padding:20px">
        
        <br><br>
        <h1>Archived Programs</h1>
        <br>
        
        {% for program in myprograms %}
		<div style="background-color:mediumpurple; padding: 20px; width:500px; margin-bottom: 10px;">
			<a href="{% url 'mentoring_program' program.id %}" style="color: white;">
				<div>
					<img src="{{ program.cover_picture.url }}" alt="image" style="height:300px; width:300px;" />
					<div>
						<h3>{{ program.title }}</h3>
						<h5>{{ program.description|slice:"120" }}</h5>
					</div>
				</div>
			</a>
		</div>
		{% endfor %}

		{% if not myprograms %}
		<p>No Archived Program found.</p>
		{% endif %}

    </div>
{% endblock %}